
.pic{
  height: 500px;
  width: 15%;
  background-color: rgba(148, 37,37);
  margin-left: 130px;
}
img{
    margin-top: 50px;
    border-radius: 50%;
}
.ppp {
    text-align: center;
    color: rgb(243, 236, 236);
}
.txt{
    margin-left: 400px;
    margin-top: -400px;
    text-align: left;
   
}
.pp{
color: rgb(102, 44, 44);
text-align: left;
}

ul {
  list-style: none;
  color:grey;
}

ul li:before {
  content: '✓';
}